<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.select :keyword, ArticleTag.all.map{ |article_tag| [article_tag.name, article_tag.id]} %>
  <button type="submit", class="mt-2 mb-2 btn btn-success"><i class="fas fa-search">検索する</i></button>
<% end %>
