.sidebar
  - if end_user_signed_in?
    header
      = link_to mypage_end_users_path do
        = image_tag current_end_user.get_profile_image(50, 50), class: "mt-3 rounded-circle"
        = current_end_user.nickname
    ul
      li class="#{'active' if action_name == 'new' && controller_name == 'foods'}"
        = link_to new_food_path do
          i.fas.fa-folder-plus
          | 食材登録
      li class="#{'active' if action_name == 'index' && controller_name == 'foods'}"
        = link_to foods_path do
          i.fas.fa-carrot
          | 食材一覧
      li class="#{'active' if action_name == 'new' && controller_name == 'articles'}"
        = link_to new_article_path do
          i.fas.fa-folder-plus
          | 記事投稿
      li class="#{'active' if action_name == 'index' && controller_name == 'articles'}"
        = link_to articles_path do
          i.fas.fa-newspaper
          | 記事一覧
      li class="#{'active' if action_name == 'index' && controller_name == 'notifications'}"
        = link_to notifications_path do
          i.fas.fa-bell
          | 通知一覧
      li class="#{'active' if action_name == 'new' && controller_name == 'menus'}"
        = link_to new_menu_path do
          i.fas.fa-folder-plus
          | 食事メニュー登録
      li class="#{'active' if action_name == 'index' && controller_name == 'menus'}"
        = link_to menus_path do
          i.fas.fa-utensils
          | 食事メニュー一覧
      li
        = link_to destroy_end_user_session_path, method: :delete do
          i.fas.fa-sign-out-alt
          | ログアウト
  - else
    ul
      li class="#{'active' if action_name == 'new' && controller_name == 'registrations'}"
        = link_to new_end_user_registration_path do
          i.fas.fa-user-plus
          | 新規登録
      li class="#{'active' if action_name == 'new' && controller_name == 'sessions'}"
        = link_to new_end_user_session_path do
          i.fas.fa-sign-in-alt
          | ログイン
